body {
  background-image: url("http://static.simpledesktops.com/uploads/desktops/2014/10/31/winter-moutains-01.png");
  background-position: center;
  background-attachment: fixed;
}
div.title {
  background-color: #43464B;
  border-style: groove;
  border-color: black;
  width: 500px;
  margin: auto;
}
div.body {
  background-color: #87898C;
  border-style: groove;
  border-color: black;
  width: 350px;
  margin: auto;
}
#text {
  color: white;
  padding: 5px;
}
