@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
  background-image: url("http://static.simpledesktops.com/uploads/desktops/2014/10/31/winter-moutains-01.png");
  background-position: center;
  background-attachment: fixed;
  font-family: 'Slabo 27px', serif;
  color: white;
  padding: 5px;
}
div {
  border-style: groove;
  border-color: black;
  margin: auto;
}
div.title {
  background-color: #43464B;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 25px;
}
h1 {
  text-align: center;
  letter-spacing: 2px;
}
div.body {
  background-color: #87898C;
  width: 800px;
  margin-bottom: 20px;
}
div.links {
  background-color: #87898C;
  width: 600px;
}
#text {
  color: white;
  margin-left: 20px;
  text-indent: 20px;
}
ul#links {
  background-color: #87898C;
  width: 600px;
  border-style: groove;
  border-color: black;
  margin: auto;
  margin-top: 200px;
}
ul#links li {
  display: inline-block;
  padding: 1em 1em 0em 1em;
  margin: auto;
  border-right: 1px ridge black;
  vertical-align: center;
}
ul#links li:last-child {
  border-right: none;
}
li a {
  text-align: center;
}
